<h2><%= @post.title %></h2>
<p><%= simple_format @post.body %></p>

<%= link_to  '[Delete]', 
post_path(@post), 
method: :delete, 
class: 'command',
data: { confirm: 'Sure?' } %>

<h3>Comments</h3>
<%= form_for ([@post, @post.comments.build]) do |f| %>
<p>
    <%= f.text_field :body, placeholder: 'comment..' %>
</p>
<p>
    <%= f.submit %>
</p>
<% end %>
